<div class="mt-4">
    <h3>Đăng ký khóa học</h3>

    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Mô tả khóa học</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="">
        </div>

        <div class="mb-3">
            <label for="video" class="form-label">Video</label>
            <input type="text" class="form-control" id="video" name="video" placeholder="">
        </div>

        <div class="mb-3">
            <label for="level" class="form-label">Trình độ</label>
            <input type="text" class="form-control" id="level" name="level" placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>