<div class="mt-4">
    <h3>Cập nhật khóa học</h3>

    <form class="mt-4" method="post" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name" placeholder="">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Mô tả khóa học</label>
            <textarea class="form-control" id="description" name="description" placeholder="">{{course.description}}</textarea>
        </div>

        <div class="mb-3">
            <label for="video" class="form-label">Video</label>
            <input type="text" class="form-control" value="{{course.video}}" id="video" name="video" placeholder="">
        </div>

        <div class="mb-3">
            <label for="level" class="form-label">Trình độ</label>
            <input type="text" class="form-control" value="{{course.level}}" id="level" name="level" placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>
</div>