.test {
  font-size: 1rem;
}

.card-course-item {
  margin-top: 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.checkbox-select-all {
  width: 180px;
  margin: 0 16px;
}

/*# sourceMappingURL=app.css.map */
