<div class="mt-4">
    <div class="row">
        {{#each course}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item" style="">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>

                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>

                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Mua Khóa Học</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- <table class="table">
        <thead>
            <tr>
                <th scope="col">Stt</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            {{#each userQuery}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.username}}</td>
                <td>{{this.role}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.active}}</td>
                <td>
                    <a href="/api/user/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table> --}}
</div>