<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>Khóa học của tôi</h3>
        {{!-- {{#if deletedCount}} --}}
        <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
        {{!-- {{/if}} --}}

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>

            <select class="form-control form-control-sm checkbox-select-all" name="action" required="required">
                <option value="">-- Chọn hành động --</option>
                <option value="delete">Xóa</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

            <button class="btn btn-primary btn-sm btn-check-all-submit" disabled="disabled">Thực hiện</button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">
                    ID{{{sortable '_id' _sort}}}
                </th>
                <th scope="col">
                    Tên khóa học{{{sortable 'name' _sort}}}
                    {{!-- <a href="?_sort&column=name&type=desc">
                        <span class="oi oi-elevator"></span>
                    </a> --}}
                </th>
                <th scope="col">
                    Trình độ{{{sortable 'level' _sort}}}
                </th>
                <th scope="col" colspan="3">
                    Thời gian tạo{{{sortable 'createdAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Sửa</a>
                    <a href="" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete-modal">Xóa</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa có bài nào.
                    <a href="/courses/create">Đăng khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- alert when delete course --}}
<div class="modal" id="delete-modal" tabindex="-1" role='dialog'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa bài</h5>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button id="btn-delete" type="button" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

{{!-- form delete hidden --}}
<form name="delete-form" method="post"></form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var id;
        var deleteForm = document.forms['delete-form'];
        // var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var btnDelete = document.getElementById('btn-delete');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-check-all-submit');

        $('#delete-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            id = button.data('id')
        })

        btnDelete.onclick = function () {
            deleteForm.action = '/courses/' + id + '?_method=DELETE';
            deleteForm.submit();
        }

        //checkbox all click
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');

            if (isCheckedAll) {
                courseItemCheckbox.prop('checked', true);
            } else {
                courseItemCheckbox.prop('checked', false);
            }
            renderCheckAllSubmitBtn();
        })

        // courses item checkbox change
        courseItemCheckbox.change(function () {
            if (courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length) {
                checkboxAll.prop('checked', true);
            } else {
                checkboxAll.prop('checked', false);
            }
            renderCheckAllSubmitBtn();
        })

        //render check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.attr('disabled', false);
            } else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }
    })
</script>