<div class="mt-4">
    <div>
        <h3>Khóa học đã xóa</h3>
        <a href="/me/stored/courses">Danh sách khóa học</a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xóa</th>
            </tr>
        </thead>

        <tbody>
            {{#each course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác trống.
                    <a href="/me/stored/courses">Danh sách khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>

{{!-- alert when delete course --}}
<div class="modal" id="delete-modal" tabindex="-1" role='dialog'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa bài</h5>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button id="btn-delete" type="button" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-form" method="post"></form>
<form name="resote-form" method="post"></form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var id;
        var deleteForm = document.forms['delete-form'];
        var restoreForm = document.forms['resote-form'];
        var btnDelete = document.getElementById('btn-delete');
        //get ra tất cả button trong list
        var btnRestore = $('.btn-restore');

        $('#delete-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            id = button.data('id')
        })

        btnDelete.onclick = function () {
            deleteForm.action = '/courses/' + id + '/force?_method=DELETE';
            deleteForm.submit();
        }

        // restore btn Khôi Phục
        btnRestore.click(function (e) {
            e.preventDefault();

            var courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        })
    })
</script>